<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='./build/main.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div id="App">Loading...</div>
   	<script src="./build/shared.js"></script>
  	<script src="./build/main.js"></script>
  </body>
</html>
